
.dashboard {
    margin-top: 1.5rem;
    height: 500vh;
    right: 0;
}
.container {
    width: 100%;
    max-width: 150rem;
    margin: auto;
}
.dashboard_card_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 2rem;
}

.dashboard_card {
    border-radius: 2px;
    width: 100%;
    background-color: #54A75B;
    overflow: hidden;
}
.card_orders {
    background-color: #F29C2D;
}
.card_users {
    background-color: #DD4B39;
}
.dashboard_card:nth-child(4){
    background-color: #3EC1EF;
}
.dashboard_card .card_main {
    padding: .8rem;
    color: #fff;
}
.card_stat_text {
    font-size: 0.85em;
}
.card_link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.199);
    font-size: 1.2rem;
    padding-block: .5rem;
    cursor: pointer;
}
.card_link_text {
    margin-right: 5px;
}
.card_stat_count {
    font-family: var(--ff-rubik);
    font-size: 2.8rem;
    font-weight: var(--fw-700);
}