
.menu_header {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #222D32;
    align-items: center;
}
.menu_hero_title {
    color: #F8F8FF;
    font-weight: 700;
    font-size: 4.2rem;
    font-family: "August";
    text-transform: capitalize;
}

.menu_list_wrapper {
    width: 100%;
}
.menu_list {
    width: 90%;
    max-width: 70rem;
    background-color: #222D32;
    margin: auto;
    padding: 2rem;
}
.menu_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2rem;
}
.food_image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
}
.food_image_wrapper {
    width: 10rem;
}
.food_desc {
    margin-left: 1rem;
    border-left: 1px solid #fff;
    padding-left: 1rem;
    width: 85%;
}
.food_desc .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #fff;
    padding-bottom: 1rem;
}
.food_detail {
    padding-top: 1rem;
    font-size: 0.9em;
    overflow: hidden;
    width: 100%;
}
.food_detail p{
    white-space: nowrap; 
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis; 
    /* white-space: nowrap;
    flex-wrap: nowrap;
    background-color: blue;
    overflow: hidden;
    width: 100%; */
    /* height: 2rem; */
}

.food_desc .top:hover, .food_detail:hover {
    color: var(--cinnabar);
}
.food_attr_price {
    color: var(--tangerine);
    font-size: 1.1em;
    font-weight: 600;
}
.timeWrap span {
    border: 1px solid #222D32;
    padding: .3rem 1.2rem;
    font-size: 0.9em;
    border-radius: 20px;
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
}
.buy_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_btns .orderBtn {
    margin-right: 1rem;
    border: 1px solid #222D32;
    padding: 0.3rem 1.4rem;
    font-size: 0.85em;
    border-radius: 20px;
    background-color: #222D32;
    color: #fff;
    transition: all .3s ease-in-out;
}
.buy_btns .orderBtn:hover {
    background-color: #222d3231;
    color: #00000081;
}

@media(min-width: 50rem){
    .food_image {
        width: 8rem;
        height: 8rem;
    }
}